
bin/Debug/TextPad.exe
*.exe
TextPad.depend
verHistory.txt
TextPad.cbp
obj/Debug/textpad.res
TextPad.layout
*.o
*.depend
*.exe
*.exe
*.o
*.exe
git rm --cached
TextPad.depend
obj/Debug/main.o
bin/Debug/TextPad.exe
/.vs
/x64/Debug
/TextPad.sln
/TextPad.vcxproj
*.filters
*.user
